/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/camera.css";
@import "../css/jquery.fancybox.css";
@import "../css/subscribe-form.css";
/*@import "../font/font.css";*/

/*@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(//fonts.googleapis.com/css?family=BenchNine);
@import url(//fonts.googleapis.com/css?family=Yellowtail);
@import url(//fonts.googleapis.com/css?family=Dorsa);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300);*/


html, body { }
p {
    direction: rtl;
    font-family: Alef;
}
h1, h2, h3, h4, h5, h6 {
    direction: rtl;
}
span {
    direction: rtl;
}
a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; width:100%; font-size:0; line-height:0;}
.wrapper, .wrapper-extra, .extra-wrap{
	position: relative;
	overflow:hidden;
	width: 100%; 
}
.wrap {
	position: relative;
	text-align: center;
}
.wrapper-after:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_cntr{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{ margin-right:0 !important;margin-left:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marRight1{margin-right: 33px;}
.marRight2{margin-right: 55px;}

.padTop1{padding-top: 20px;}

.padBot1{padding-bottom: 60px;}
.padBot2{padding-bottom: 41px;}

.marTop1{margin-top: 57px;}
.marTop2{margin-top: 20px !important;}
.marTop3{margin-top: 57px;}
.marTop4{margin-top: 17px !important;}
.marTop5{margin-top: 48px !important;}

.marBot1{margin-bottom: -8px;}


.quote_1{
	text-align: center;
	max-width: 660px;
	display: inline-block;
	margin-top: 34px;
}
.hline2{
	margin-bottom: 29px;
	padding-bottom: 37px;
	border-bottom: 1px solid #eaeaea;
}

#page4 p{margin-bottom: 9px;}

.box, .box2, .box3{overflow: hidden;}
.bold{font-weight: bold;}

.color1{color: #f9129b;}

.discount_txt{
	float: left;
	margin-right: 2px;
	width: 47px;
	color: #333333;
	font:600 21px/30px 'Open Sans', Arial, sans-serif;
}

/* Global properties ======================================================== */
html, body { margin:0; padding:0; height:100%;}

body {
	min-width:300px;
	background: #fff;
	color:#7e7e7e;
	font:14px/21px Arial, Helvetica, sans-serif ;
}
.fs_14{font-size: 14px;}
#back-top {
  position: fixed;
  bottom: 40px;
  left: 51%;
  z-index: 1000;
  display: none;
  margin-left: 500px;
  width: 71px;
  height: 71px;
  border-radius: 500px;
  background: url("../images/up-arrow.png") center center no-repeat #eee;
  cursor: pointer;
}
#back-top:hover {
  background: url("../images/up-arrow.png") center center no-repeat #aaa;
}
.main{
	padding:0 0 0 0;
	width:100%;
	height: auto; 
	position: relative;
	/* background: #fafafa; */
}
.div-content{
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 65px;
	width:100%;
	/*background: #f2f1ef;*/
	
}
.txt_col1{
	position: relative;
	display: inline-block;
	width: 64px;
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
	position: relative;
	display: inline-block;
	margin:0;
	margin-top: 0px;
}
h1 img{max-width: inherit;}

h2, h2.v2 {
	position: relative;
	font:300 36px/36px 'Open Sans', Arial, sans-serif;
	color:#373737; 
	margin-top: 30px;
	display: inline-block;
	padding: 23px 0 26px;
	background: #fff;
	width: 100%;
	text-align: center;
	letter-spacing: 0px;
	text-indent: -18px;
	margin-bottom: 22px;
}
h2:before, h2.v2:before {
	position: absolute;
	display: inline-block;
	content: '';
	width: 44px;
	height: 22px;
	left: 50%;
	margin-left: -22px;
	bottom: -21px;
	background: url(../images/corner1.png) no-repeat 0 0;
}

h2.v2{
	font:25px/30px 'Open Sans', Arial, sans-serif;
	color:#373737; 
	margin-top: 50px;
	padding: 17px 0 20px;
	background: #f1f1f1;
	text-indent: 0px;
	padding-left: 30px;
	margin-bottom: 22px;
	text-align: left;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;

}
h2.v2:before {
	width: 32px;
	height: 16px;
	left: 46px;
	bottom: -16px;
	background: url(../images/corner2.png) no-repeat 0 0;
}

h3{
	font:48px/50px 'Yellowtail', Arial, sans-serif;
	color:#e13e3b; 
	display: inline-block;
	width: 100%;
	margin-top: 62px;
	text-indent: -35px;
}



h4{ 
	margin-top: 18px;
	color:#373737;
	font:26px/30px 'Open Sans', Arial, sans-serif;
}
h5{ 
	margin-top: 10px;
	margin-bottom: 0;
	color:#333333;
	text-transform: uppercase;
	font:14px/22px 'Open Sans', Arial, sans-serif;
}

.txt1{color:#474747; font:16px/24px 'Georgia', Arial, sans-serif; font-style: italic; margin-top: 23px;/*text-indent: -35px;*/ }
.txt2{color:#bbbbbb; font:16px/24px 'Trebuchet MS', Arial, sans-serif; margin-top: 6px;text-indent: -35px;}


.title_txt1{color:#e13e3b; font:100px/100px 'Dorsa', Arial, sans-serif; margin-top: 46px;text-shadow: 4px 5px 2px rgba(150, 150, 150, 1);}
.title_txt2{color:#6a6a6a; font:30px/30px 'Open Sans Condensed', Arial, sans-serif; margin-top: -6px;letter-spacing: 1px;}
.txt3{color:#727272; font:15px/24px 'Open Sans', Arial, sans-serif; margin-top: 6px;}

.txt4{color:#727272; font:15px/24px 'Open Sans', Arial, sans-serif; margin-bottom: -17px; display: block;}

.figure_video{margin-top: 22px;}
/*.figure_video a{display: block;}*/
.b_right{
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	border-right: 1px solid #c0c0c0;
}


.lightbox-video{
	position:relative;
	display:inline-block;
}
	.lightbox-video span {
		position:absolute;
		top:0;
		left:0;
		z-index:1;
		display:block;
		width:100%;
		height:100%;
		background: url(../images/img_over_bg.png);
		text-align: center;
		}

		.lightbox-video span em{display: block;font:600 20px/20px 'Open Sans', Arial, sans-serif; color:#fff;  margin-top: 57px;  /*top: 25%;*/margin-bottom: 20px;position: relative;}


.banner1{
	background: #72c4ac;
	padding: 38px 40px 31px 37px;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	margin-top: 20px;
}
.banner1.v2{background: #99b768 !important;}
.banner1 img{
	float: left;
	margin-right: 47px;
}
.banner1 p{font:600 30px/30px 'Open Sans', Arial, sans-serif; color:#fff; margin-top: 0;}
.banner1 p+p{font:12px/20px 'Trebuchet MS', Arial, sans-serif; margin-top: 14px; text-transform: uppercase;}


.white_bg{
	position: relative;
	margin-top: 40px;
	margin-bottom: 1px;
	padding: 29px 0 13px;
	width: 100%;
	border: none;
	background: #fff;
}

.date_section{ 
	display: block;
	float: left;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	margin-right: 18px;
	padding-top: 9px;
	width: 60px;
	height: 51px;
	background: #3c4346;
	color:#fff;
	text-align: center;
	

	-webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  
	transition: all 0.6s ease;
	margin-bottom: 17px;
}
.day{
	display: block;
	font: 18px/19px Arial, sans-serif;
}
.month{
	display: block;
	text-transform: uppercase;
	font: 10px/14px Arial, sans-serif;
}
.comment_link{
	margin-top: 31px;
	margin-right: 31px;
}
.main_date_section:hover .date_section{background: #e74c3c;}

p{margin-top: 22px;}
img{ margin-bottom: 0px;max-width:100%; height:auto;}
.img1{
	float: left;
	margin-top: 27px;
	margin-right: 19px;
	margin-bottom: 10px;
}
.img2{margin-top: 42px;}

a { 
	color: #727272;
	text-decoration:none; 
	cursor:pointer;
}

a.link1{
	font:300 12px/18px 'Open Sans', Arial, sans-serif;
	color: #06b0cf;
	text-transform: uppercase;
}
a.link1:hover{color: #000;}

a.link2{color: #000;}
a.link2:hover{color: #ff6203;}

a.link3{font:16px/20px 'Open Sans', Arial, sans-serif; color: #404040;}

a.letter_link{
	font:16px/20px 'Open Sans', Arial, sans-serif;
	color: #404040;
	padding-left: 30px;
	background: url(../images/letter_pic.png) 0 0 no-repeat;
	margin-top: 27px;
	display: inline-block;
}
a.letter_link:hover{color: #ff6203;}


a:hover{
	color: #000;
	text-decoration:none;
}
a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.date_txt{text-transform: uppercase; font-size: 12px; color: #6f6f6f;}

blockquote{
	background: url(../images/quote_sign.png) 0 5px no-repeat;
	padding-left: 39px;
	margin-top: 22px;
}
blockquote p{margin-top: 0;}
blockquote .txt4{margin-bottom: 0; margin-top: 6px;}

.comment_icon2{
	position: relative;
	display: inline-block;
	margin: -17px -2px 0 19px;
	width: 63px;
	height: 55px;
	background: url(../images/comment_icon_big.png) 0 0 no-repeat;
}
.section_year{
	float: left;
	width: 40px;
	color: #6f6f6f;
}


/************Header************/
header{
	position: relative;
	z-index: 1000;
	padding-top: 40px;
	min-height: 554px;
	/*background: #3c4346;*/
}
header .header_cont{
	width: 220px;
	margin: 0 auto;
}
header.content_header{
	width: 100%;
	min-height: 554px;
	background: url(../images/wall01.jpg) 50% 0 no-repeat #edece8;
	margin-bottom: 21px;
}

.under_header_txt1{
	float: left;
	color:#7a7a7a;
	font:300 12px/20px Arial, sans-serif;
	font-style: italic;
}
.bot_line{
	display: inline-block;
	margin-top: 2px;	
	margin-bottom: 42px;
	width: 100%;
	height: 1px;
	background: #f2f2f2;	
}
	
/************Content***********/
.box-white{
	position: relative;
	width: 100%;
	min-height: 318px;
	background: #fff;
	margin-top: 57px;
	z-index: 11;
	border-bottom: 1px solid #e9e9e9;
}
.banner2{
	background: url(../images/coffeeshow.jpg) 0 bottom no-repeat;
	overflow: hidden;
    background-size: 215px;
}

.box_1{
	width: 100%;
	background: #fff;
	border: 1px solid #e1e0de;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
	margin-top: 62px;
	color: #232323;
	font-size: 12px;
}
.box_1_pad{padding: 26px 27px 33px;}

/* ============================= lists ====================== */
.listWithMarker {
  margin: 0;
  margin-top: 17px;
}
.listWithMarker li {
  display: block;
  margin-bottom: 9px;
  padding-left: 22px;
  background: url(../images/list_marker.png) 0px 5px no-repeat;
}
.listWithMarker li a {
  color: #404040;
  text-decoration: none;
  font:15px/20px "Open Sans", Arial, sans-serif;
}
.listWithMarker li a:hover {
  color: #ff6203;
}

.listWithMarker.v2{
	margin-top: 23px;
	margin-bottom: 58px;
}

/* ============================= end lists ====================== */
.comments_btn{
	padding-left: 19px;
	background: url(../images/comment_icon.png) 0 2px no-repeat;
	color: #6b6b6b;
}


.more_btn{
	display: inline-block;
	margin-top: 25px;
	padding: 11px 23px 11px 26px;
	background: #f4f4f4;
	color: #434343;
	text-decoration:none; 
	font:14px/20px "Trebuchet MS", Arial, sans-serif;
	border-radius: 20px;
	min-width: 57px;
	/* margin-left: -40px; */
	white-space: nowrap;
    border: none;
    cursor: pointer;
}
.more_btn img{margin-left: 7px;margin-top: 7px; display: inline-block;}
.more_btn:hover{
	background: #2e2e2e;
	color: #fff;
}

.banner2 .more_btn{margin-left: -40px;}


figure{display: block;}
figure.img_inner {
	display: block;
	overflow: hidden;
	margin-bottom: 23px;
	margin-top: 27px;
	padding-bottom: 0px;
	height: auto;
	line-height: 0;

}
figure iframe {
	width: 100%;
	height: 371px;
}
address{
	display: block;
	margin-top: 21px;
	color: #727272;
	font: 15px/24px "Open Sans", Arial, sans-serif;
	font-style: normal;
}
address dl dt{
	margin-bottom: 0px;
	/* text-transform: uppercase; */
	/* color: #47d4f9; */
}
address dd span{
	position: relative;
	display: inline-block;
	width: 84px;
}





/*********************************start magnifier2*************************************/
.magnifier2 {
    position:relative;
    /* display:block; */
    display: inline-block;
}
.magnifier2 img{
}
.zoom{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/

  	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 18px solid #06c4e6; 
	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;
}
a.magnifier2:hover .zoom{
	opacity: 1;
}
a.magnifier2 .zoom{
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
	display: block; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border-bottom: 24px solid #eeeeee;
}
p.footer_txt1{
	color:#06c4e6;
	font:16px/24px "Open Sans", Arial, sans-serif;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.footer_priv{
	border-top: 1px solid #eaeaea;
	padding: 45px 0 83px;
	color: #fff;
	text-align: center;
}
.footer_priv p{margin-top: 35px;color: #535353; font: 15px/20px "Open Sans", Arial, sans-serif; }
.footer_priv a{color: #535353;}
.footer_priv a:hover{color: #ff6203;}

/************start social icons************/
.social{
	display: inline-block;
	overflow:hidden;
	margin-top: 4px;
}
.social a{
	display:block; 
	float:left;
	width:45px;
	height: 49px;
	overflow:hidden;
	margin-left: 14px;
}
.social a:first-child{
	margin: 0 0 0 0;
}
.social a:hover img{
	margin-top:-50px;
}	
/************end social icons************/


.priv_block{float: left;}
.terms_block{float: right;}

/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1239px) {
	.div-content{width:100%;}
}


@media only screen and (max-width: 995px) {


	.address figure iframe {
		max-width:100%;
		width: 100%;
	}
	address{font-size: 13px; margin-top: 40px; margin-bottom: 0px;}
	address dd span{width: 74px;}

	.slider_wrapper {height: auto !important;}


	figure iframe {width: 100%;}
	.figure_video a{width: 100%;}
	figure.img_inner {padding-top: 20px;}

	.lightbox-video span em{margin-top: 30px;}


	.box{overflow: visible;}
	
	.caption span.slider_txt1{font:300 36px/48px 'Open Sans', Arial, sans-serif;}

	.magnifier2 {width: 100%;}


	.caption {width: 748px;}

	.camera_prev{left: 10px; margin-left: 0px;}
	.camera_next{left: auto; right: 10px; margin-left: 0px;}
	.caption span.slider_txt2{max-width: 650px;}





}
@media only screen and (max-width: 767px) {

	.figure_video a, img{width: 100%;}
	img.no_resize, h1 img{width: auto;}
	.box{overflow: visible;}
	address{margin-top: 20px;}


	/*.prev2 {left: 0px !important;}
	.next2 {right: 15px !important;}*/

	.caption {width: 100%;}

	.lightbox-video span em{margin-top: 107px;}
	.banner2{background: none; padding-bottom: 20px;}
	h3, .txt1, .txt2{text-indent: 0px;}
	.banner2 .more_btn{margin-left: 0px;}

	.caption {width: 100%; background: #fff; padding: 0 20px;
		box-sizing: border-box;
		-moz-box-sizing: border-box; /*Firefox 1-3*/
		-webkit-box-sizing: border-box; /* Safari */
		/*margin-top: 383px;*/
	}
	/*.camera_prev,.camera_next{margin-top: 503px;}*/
	.caption span.slider_txt1{font:300 22px/30px 'Open Sans', Arial, sans-serif;}
	.caption span.slider_txt2{max-width: 380px; margin-top: 20px;}
	/*.slider_wrapper{margin-bottom: -775px;}*/
	header{min-height: 304px;}

	header.content_header{min-height: 354px;}

	.more_btn{white-space: normal;}



}


@media only screen and (max-width: 479px) {
	.banner1 img{float: none;	margin-right: 0;margin-bottom: 20px; margin-left: 50px;}
	.lightbox-video span em{margin-top: 87px;}
	.caption span.slider_txt1{font:300 32px/50px 'Open Sans', Arial, sans-serif; margin-top: 50px; display: inline-block;}
	.caption span.slider_txt2{display: none;}
	
}
@media only screen and (max-width: 320px) {

}
.center-text{
    text-align: center;
}
.hebrew-direction{
    direction: rtl;
}
.menu{
    text-align: center;
    margin-top: 50px;
}
.menu-link{
    font-size: 30px;
}
#contact-form input.error,
#contact-form textarea.error {
    background-color: #f2dede;
    border-color: #ebccd1;

}
.empty-message{
    color: #a94442;
}
.gallery-video{
    width: 500px;
    height: 384px;
}
.mobileShow {
	display: none;
	margin: 0 auto;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 50%;
	margin-left: -160px;
	z-index: 12;
}
/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
	.mobileShow {
		display: block;
	}
}

.external-link {
 text-transform: none !important;
	font-weight: bold !important;
}
